<section class="layout">
  <header class="header">
    <div></div>
    <div class="title">国土规划一张图</div>
    <div class="h-full text-right">
      <p class="pr-2 pt-1">{{currentTime}}</p>
    </div>
  </header>
  <main class="main">
    <div class="board-wrap">
      <div class="board-main">
        <app-mainmap></app-mainmap>
      </div>
      <div>
        <app-barcharts></app-barcharts>
      </div>
      <div>
        <app-piecharts></app-piecharts>
      </div>
      <div>
        <app-firstgrid></app-firstgrid>
      </div>
      <div>
        <app-secondgrid></app-secondgrid>
      </div>
      <div>
        <app-thirdgrid></app-thirdgrid>
      </div>
    </div>
  </main>
</section>
