.layout {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  //background: radial-gradient( #074783, #032950);
  background: url('../../assets/earth-bg.png') center center no-repeat, radial-gradient( #074783, #032950);
  background-size: contain;
}

.header {
  height: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background: url('../../assets/header-bg.png') center -1px no-repeat;
  & > div {
    flex: 1
  }
  .title {
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    background: linear-gradient(to bottom, #ffffff, #064a90);
    background-clip: text;
  }
}

.main {
  flex: 1;
  margin: 15px;
  overflow: hidden;
}

.board-wrap {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 15px;
  overflow: hidden;

  & > div {
    color: #ffffff;
    overflow: hidden;
  }

  .board-main {
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
  }
}
